<div class="home-container" [@fadeIn]>
  <img src="assets/images/Profile.png" alt="Profil Fotoğrafı" class="profile-img" />
  
  <h1>{{ typedText }}</h1>
  <p>Frontend geliştiricisiyim. Angular ve modern web teknolojileriyle projeler geliştiriyorum.</p>
  
  

  <div class="social-links">
    <a href="https://www.linkedin.com/in/mustafa-shahin-009ab9271/" target="_blank">
      <img src="assets/icons/linkedin.svg" alt="LinkedIn" />
    </a>
    <a href="https://github.com/MustafaSterShahin" target="_blank">
      <img src="assets/icons/github.svg" alt="GitHub" />
    </a>
  </div>
</div>
