<div class="home-container" [@fadeIn]>
  <img src="assets/images/Profile.png" alt="Mustafa Şahin" class="profile-img" />
  
  <h1>{{ typedText }}</h1>
  <p>
    Frontend Developer with experience in Angular and React.<br />
    I enjoy building modern, responsive, and user-friendly web applications.
  </p>

  <p>
    Focused on clean UI, performance, and scalable frontend architecture.
  </p> 

  <div class="button-group">
    <a routerLink="/projects" class="btn">View Projects</a>
    <a routerLink="/contact" class="btn outline">Contact Me</a>
  </div>

  <div class="social-links">
    <a href="https://www.linkedin.com/in/mustafa-shahin-009ab9271/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
      <img src="assets/icons/linkedin.svg" alt="LinkedIn" />
    </a>
    <a href="https://github.com/MustafaSterShahin" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
      <img src="assets/icons/github.svg" alt="GitHub" />
    </a>
  </div>
</div>
